* {
    margin: 0;
    padding: 0;
    --dark-bg-color: #1F2937;
    --header-text-color: #F9FAF8;
    --second-text-color: #E5E7EB;
    --button-color: #3882F6;
    --dark-text-color: #1F2937;
    --mid-bg-color: #E5e7eb;
}
body {
    font-family: roboto;
}
.navbar {
    /* position: sticky; */
    display: flex;
    /* width: 100%; */
    justify-content: space-around;
    padding: 15px ;
    align-items: center;
    background: var(--dark-bg-color);
    color: var(--header-text-color);
}
.navbar-logo {
    font-size: 24px;
}
.nav-links {
    display: flex;
}
.nav-link {
    color: var(--header-text-color);
    text-decoration: none;
    justify-content: space-between;
    padding: 15px;
    font-weight: 10;
}



.header {
    background: var(--dark-bg-color);
    display: flex;
    justify-content: space-between;
    padding: 100px 232px;
}
.heading-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.header .left {
    flex-basis: 45%;
}
.header h2 {
    color: var(--header-text-color);
    font-size: 48px;
    font-weight: 900;
    padding: 5px;
}
.header p {
    color: var(--second-text-color);
    padding: 5px;
    font-weight: 10;
    font-size: 18px;
}
.img-placeholder {
    width: 550px;
    height: 200px;
    background: grey;
}
.img-placeholder-caption {
    padding: 90px ;
}
.sign-up-btn {
    background: var(--button-color);
    color: var(--header-text-color);
    margin: 5px;
    padding: 10px 35px;
    border-radius: 10px;
}


.info {
    padding: 80px;
}
.info-title {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: var(--dark-bg-color);
}


.box-section {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 30px auto;
}
.box-unit {
    width: 150px;
    text-align: center;
}
.blue-box {
    height: 150px;
    width: 150px;
    border: 3px solid var(--button-color);
    border-radius: 15px;
}
.box-caption {
    font-size: 18px;
    font-weight: 100;
}


.quotation {
    background: var(--mid-bg-color)
}
.quote-container {
    margin: auto;
    padding: 150px;
    width: 50%;
}
.quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: var(--dark-bg-color);
}
.author {
    text-align: right;
    font-weight: bold;
}

.CTA-box {
    background: var(--button-color);
    color: var(--header-text-color);
    display: flex;
    width: 70%;
    margin: 100px auto;
    border-radius: 10px;
    padding: 50px 150px;
}
.CTA-right {
    display: flex;
}
.CTA-btn {
    border: 2px solid var(--header-text-color);
    margin-left: 275px;
}



footer {
    background: var(--dark-bg-color);
    color: var(--second-text-color);
    text-align: center;
    padding: 30px;
}