* {
    margin: 0;
    padding: 0;
    --dark-bg-color: #1F2937;
    --header-text-color: #F9FAF8;
    --second-text-color: #E5E7EB;
    --button-color: #3882F6;
    --dark-text-color: #1F2937;
    --mid-bg-color: #E5e7eb;
}
body {
    font-family: roboto;
}
.navbar {
    /* position: sticky; */
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 15px ;
    align-items: center;
    background: var(--dark-bg-color);
    color: var(--header-text-color);
}
.nav-links {
    display: flex;
}
.nav-link {
    color: var(--header-text-color);
    text-decoration: none;
    justify-content: space-between;
    padding: 15px;
    font-weight: 10;
}



.header {
    background: var(--dark-bg-color);
    display: flex;
    justify-content: space-between;
    padding: 100px 232px;
}
.heading-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.header .left {
    flex-basis: 45%;
}
.header h2 {
    color: var(--header-text-color);
    font-size: 48px;
    font-weight: 900;
    padding: 5px;
}
.header p {
    color: var(--second-text-color);
    padding: 5px;
    font-weight: 10;
    font-size: 18px;
}
.img-placeholder {
    width: 550px;
    height: 200px;
    background: grey;
}
.img-placeholder-caption {
    padding: 90px ;
}
.sign-up-btn {
    background: var(--button-color);
    color: var(--header-text-color);
    margin: 5px;
    padding: 10px 35px;
    border-radius: 10px;
}